* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
    --bg-primary: #30313d;
}

body {
    min-height: 100vh;
    background: var(--bg-primary);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}


.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #a4a4a4;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 28px;
    cursor: pointer;
}


.content {
    padding: 20px;
    margin-top: 80px;
}

@media (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }

    .logo {
        font-size: 28px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        padding: 10px;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links a {
        margin: 15px 0;
        font-size: 22px;/
    }

    .navbar a::before {
        display: none;
    }
}
