* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
    --bg-primary: #30313d;
}

body {
    min-height: 100vh;
    background: var(--bg-primary);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 48px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    position: relative;
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.content {
    padding-top: 40px;
    margin-top: 80px;
}