.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

.auth-buttons {
    display: flex;
    gap: 2rem; /* Space between the buttons */
}

.auth-buttons .btn {
    padding: 30px;
    width: 200px;  /* Increased button width */
    height: 200px; /* Increased button height */
    font-size: 1.5rem;  /* Increased text size */
    border: none;
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #28a745;
}

.btn-secondary:hover {
    background-color: #218838;
}

.icon {
    width: 50px;
    height: 50px;
    fill: currentColor;
}


@media (max-width: 600px) {
    .auth-container {
        padding: 0 20px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .auth-buttons .btn {
        width: 150px;
        height: 150px;
    }
}